.container{
    max-width: 400px;
    border: 1px solid black;
    margin: 0;
    display: flex;
}

.item{
    background-color: brown;
    margin: 5px;
    text-align: center;
    color: whitesmoke;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-space-around{
    justify-content: space-around;
}

.column{
    flex-direction: column;
    height: 200px;
}